<%- include('src/views/partials/header') -%>
<%- include('src/views/partials/side-navbar') -%>
<%- include('src/views/addons/user-auth') -%>
<%- include('src/views/dialogs/dialog-box.ejs') -%>
<%- include('src/views/dialogs/prompt-input-dialog') -%>
<%- include('src/views/addons/toast') -%>
<%- include('src/views/dialogs/upload-modal') -%>
<%- include('src/views/dialogs/download-modal') -%>
<%- include('src/views/dialogs/prompt-confirm-dialog') -%>
<%- include('src/views/addons/fileContextMenu') -%>
<%- include('src/views/addons/folderContextMenu') -%>
<%- include('src/views/dialogs/create-folder-dialog') -%>
<%- include('src/views/dialogs/rename-folder-dialog') -%>
<%- include('src/views/dialogs/rename-file-dialog') -%>
<%- include('src/views/dialogs/share-file-dialog') -%>
<%- include('src/views/dialogs/move-file-to-folder-dialog') -%>
<%- include('src/views/dialogs/download-complete-dialog') -%>
<%- include('src/views/dialogs/file-advanced-links-dialog') -%>
<%- include('src/views/addons/sound-player') -%>
<%- include('src/views/dialogs/update-app-dialog.ejs') -%>
<div class="main-content-container position-relative" id="MainContentContainer">


</div>
<!-- End Main Container -->
<%- include('src/views/partials/footer') -%>