<%- include('views/partials/header') -%>
<%- include('views/partials/side-navbar') -%>
<%- include('views/dialogs/dialog-box.ejs') -%>
<%- include('views/dialogs/prompt-input-dialog') -%>
<%- include('views/addons/toast') -%>
<%- include('views/dialogs/prompt-confirm-dialog') -%>
<%- include('views/addons/sound-player') -%>
<div class="overlay active flex flex-center" id="loadingScreen" style="background-color: rgba(255, 255, 255, .7);">
	<div>
		<img src="assets/img/utils/loader2.gif" alt="">
	</div>
	<div class="my-3" style="padding: .5em 0 0 0; margin-right: .5em;">
		<small class="text-muted" style="font-weight: 300;">Processing your request now, </small>
		<span class="" style="font-weight: 200;font-size: 13px;">please wait...</span>
	</div>
</div>
<div class="main-content-container position-relative" id="AP_MAIN_CONTENT_CONTAINER">


</div>
<!-- End Main Container -->
<%- include('views/partials/footer') -%>